{% if button_text != blank %}    
<a href="{{ button_url | default: "#" }}" {% if title %} title="{{ title }}" {% endif %} {% if class %}
        class="{{ class }}"
    {% endif %}> {{ button_text }} </a>
{% endif %}