{%- if blog.previous_article or blog.next_article -%}
  <div class="article__prev-next vertical-breather vertical-breather--tight {% if settings.background == settings.secondary_background %}vertical-breather--margin{% endif %}">
    <div class="container">

        <div class="explore-cntnt">                                                
        <h2> {{ 'article.general.continue_reading' | t }} </h2>
        </div>

      <div class="scroller">
        <div class="scroller__inner">
          <article-list {% if settings.stagger_blog_posts_apparition %}stagger-apparition{% endif %} class="article-list article-list--scrollable">
            {%- if blog.next_article -%}
              {%- render 'custom-article-item', article: article, blog.next_article -%}
            {%- endif -%}

            {%- if blog.previous_article -%}
              {%- render 'custom-article-item', article: article, blog.previous_article -%}
            {%- endif -%}
          </article-list>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Blog post navigation",
  "class": "shopify-section--blog-post-prev-next",
  "settings": [
    {
      "type": "paragraph",
      "content": "Previous and next article will be displayed (if they exists)."
    }
  ]
}
{% endschema %}