<section class="shop-sec">
    <div class="container">
        <div class="shop-tab flex justify-between">
            <h2>Shop Products</h2>
            <div class="tab-buttons">
                <button class="tab-btn active" content-id="home">
                    New Arrivals
                </button>
                <button class="tab-btn" content-id="services">
                    Bestsellers
                </button>
            </div>
        </div>
        <div class="tab-contents">
            <div class="content show" id="home">
                <div class="shop-grinder">
                    <div class="shop-wish flex justify-between">
                        <p>
                            07% OFF
                        </p>

                        <a href="#."><img src="images/heart.svg" alt="heart"></a>
                    </div>
                    <div class="shop-product-dta">
                        <a href="#."> <img src="images/grinder-machine.png" alt="grinder"></a>
                        <div class="custom-radio-parent">
                            <div class="red-radio">
                                <input type="radio" name="cream-heal-1" id="rdb-1">
                                <label class="custom-radio-individual" for="rdb-1"></label>
                            </div>
                            <div class="blue-radio">
                                <input type="radio" name="cream-heal-1" id="rdb-2">
                                <label class="custom-radio-individual" for="rdb-2"></label>
                            </div>
                            <div class="purple-radio">
                                <input type="radio" name="cream-heal-1" id="rdb-3">
                                <label class="custom-radio-individual" for="rdb-3"></label>
                            </div>
                        </div>
                    </div>

                    <div class="shop-product-text flex justify-between align-center">
                        <div class="shop-product-head">
                            <h2>EK Omnia</h2>
                            <p>$3,499.00</p>
                        </div>
                        <div class="shop-cart">
                            <a href="#."><img src="images/product-cart.svg" alt="cart"></a>
                        </div>
                    </div>
                </div>
                <div class="shop-grinder">
                    <div class="shop-wish flex justify-between">
                        <!-- <p>
                        07% OFF
                    </p> -->

                        <a href="#."><img src="images/heart.svg" alt="heart"></a>
                    </div>
                    <div class="shop-product-dta">
                        <a href="#."> <img src="images/grinder-machine.png" alt="grinder"></a>
                        <div class="custom-radio-parent">
                            <div class="red-radio">
                                <input type="radio" name="cream-heal-2" id="rdb-4">
                                <label class="custom-radio-individual" for="rdb-4"></label>
                            </div>
                            <div class="blue-radio">
                                <input type="radio" name="cream-heal-2" id="rdb-5">
                                <label class="custom-radio-individual" for="rdb-5"></label>
                            </div>
                            <div class="purple-radio">
                                <input type="radio" name="cream-heal-2" id="rdb-6">
                                <label class="custom-radio-individual" for="rdb-6"></label>
                            </div>
                        </div>
                    </div>

                    <div class="shop-product-text flex justify-between align-center">
                        <div class="shop-product-head">
                            <h2>EK Omnia</h2>
                            <p>$3,499.00</p>
                        </div>
                        <div class="shop-cart">
                            <a href="#."><img src="images/product-cart.svg" alt="cart"></a>
                        </div>
                    </div>
                </div>
                <div class="shop-grinder">
                    <div class="shop-wish flex justify-between">
                        <p>
                            07% OFF
                        </p>

                        <a href="#."><img src="images/heart.svg" alt="heart"></a>
                    </div>
                    <div class="shop-product-dta">
                        <a href="#."> <img src="images/grinder-machine.png" alt="grinder"></a>
                        <div class="custom-radio-parent">
                            <div class="red-radio">
                                <input type="radio" name="cream-heal-3" id="rdb-7">
                                <label class="custom-radio-individual" for="rdb-7"></label>
                            </div>
                            <div class="blue-radio">
                                <input type="radio" name="cream-heal-3" id="rdb-8">
                                <label class="custom-radio-individual" for="rdb-8"></label>
                            </div>
                            <div class="purple-radio">
                                <input type="radio" name="cream-heal-3" id="rdb-9">
                                <label class="custom-radio-individual" for="rdb-9"></label>
                            </div>
                        </div>
                    </div>

                    <div class="shop-product-text flex justify-between align-center">
                        <div class="shop-product-head">
                            <h2>EK Omnia</h2>
                            <p>$3,499.00</p>
                        </div>
                        <div class="shop-cart">
                            <a href="#."><img src="images/product-cart.svg" alt="cart"></a>
                        </div>
                    </div>
                </div>
                <div class="shop-grinder">
                    <div class="shop-wish flex justify-between">
                        <!-- <p>
                            07% OFF
                        </p> -->

                        <a href="#."><img src="images/heart.svg" alt="heart"></a>
                    </div>
                    <div class="shop-product-dta">
                        <a href="#."> <img src="images/grinder-machine.png" alt="grinder"></a>
                        <div class="custom-radio-parent">
                            <div class="red-radio">
                                <input type="radio" name="cream-heal-4" id="rdb-11">
                                <label class="custom-radio-individual" for="rdb-11"></label>
                            </div>
                            <div class="blue-radio">
                                <input type="radio" name="cream-heal-4" id="rdb-12">
                                <label class="custom-radio-individual" for="rdb-12"></label>
                            </div>
                            <div class="purple-radio">
                                <input type="radio" name="cream-heal-4" id="rdb-13">
                                <label class="custom-radio-individual" for="rdb-13"></label>
                            </div>
                        </div>
                    </div>

                    <div class="shop-product-text flex justify-between align-center">
                        <div class="shop-product-head">
                            <h2>EK Omnia</h2>
                            <p>$3,499.00</p>
                        </div>
                        <div class="shop-cart">
                            <a href="#."><img src="images/product-cart.svg" alt="cart"></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content" id="services">
                <div class="shop-grinder">
                    <div class="shop-wish flex justify-between">
                        <p>
                            07% OFF
                        </p>

                        <a href="#."><img src="images/heart.svg" alt="heart"></a>
                    </div>
                    <div class="shop-product-dta">
                        <a href="#."> <img src="images/grinder-machine.png" alt="grinder"></a>
                        <div class="custom-radio-parent">
                            <div class="red-radio">
                                <input type="radio" name="cream-heal-5" id="rdb-14">
                                <label class="custom-radio-individual" for="rdb-14"></label>
                            </div>
                            <div class="blue-radio">
                                <input type="radio" name="cream-heal-5" id="rdb-15">
                                <label class="custom-radio-individual" for="rdb-15"></label>
                            </div>
                            <div class="purple-radio">
                                <input type="radio" name="cream-heal-5" id="rdb-16">
                                <label class="custom-radio-individual" for="rdb-16"></label>
                            </div>
                        </div>
                    </div>

                    <div class="shop-product-text flex justify-between align-center">
                        <div class="shop-product-head">
                            <h2>EK Omnia</h2>
                            <p>$3,499.00</p>
                        </div>
                        <div class="shop-cart">
                            <a href="#."><img src="images/product-cart.svg" alt="cart"></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Best Sellers",
        "settings": [],
        "presets": [
            {
                "name": "Best Sellers"
            }
        ]
    }
{% endschema %}