<section class="about-banner flex align-center justify-center"
style="background-image: url('{{ section.settings.image |  image_url }}');">
<div class="container">
    <div class="banner-cntnt">
        <div class="banner-hed">
            {% if section.settings.show_custom_title and section.settings.custom_title != blank %}
                <h1> {{ section.settings.custom_title }} </h1>
            {% else %}
                <h1> {{ page.title }} </h1>
            {% endif %}
        </div> 
    </div>
    <div class="banner-logo">
        {% render 'image-snippet-np', image: settings.banner_logo , imageURL: true, lazyload: 'eager'  %}
    </div>
</div>
</section>

{% schema %}
    {
        "name": "Page Banner",
        "settings": [
            {
                "type": "checkbox",
                "id": "show_custom_title",
                "label": "Show Custom Title",
                "default": false
            },
            {
                "type": "html",
                "id": "custom_title",
                "label": "Custom Title",
                "default": " Learn <br> More About US"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            }
        ],
        "presets": [
            {
                "name": "Page Banner"
            }
        ]
    }
{% endschema %}