.banner-logo {
    z-index: 0;
}

mobile-navigation#mobile-menu-drawer,
cart-drawer#mini-cart,
predictive-search-drawer#search-drawer {
    padding: 0 20px;
}

.banner--success {
    margin-top: 10px;
}

.footer-news .banner--success p {
    color: rgb(var(--success-color));
}

.footer__aside {
    margin-block-start: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
}

.social-media__item {
    box-shadow: unset;
    border: 1px solid var(--8DB1B5, #8DB1B5);
}

.social-media {
    gap: 12px;
}

.grinder-opt {
    margin-top: 24px;
}

.grinder-img img,
.brewer-img img{
    max-width: unset;
}

.our-team > img {
    border-radius: 10px;
}

.article-item__excerpt {
    margin-block-start: 10px;
}

.article-item__category {
    background-color: var(--8DB1B5, #8DB1B5);
    color: #fff;
    border: 1px solid var(--8DB1B5, #8DB1B5);
    padding: 8px;
    border-radius: 46px;
    font-family: 'Univers';
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-top: 10px;
}

.link-bar__wrapper > * {
    font-family: "URW DIN";
}

.link-bar {
    margin-bottom: 30px;
}

.blog-detail-content img {
    margin-bottom: 16px;
}

.article_content {
    margin-top: 32px;
}

.article__share {
    margin-block-start: 20px;
}

.article__tags {
    margin-block-start: 20px;
}

.article__tags-label {
    margin-bottom: 0;
}

.article__prev-next .explore-cntnt {
    margin-bottom: 20px;
}

.article__share-button-item--facebook svg path, .article__share-button-item--twitter svg path {
    fill: #263542;
}

.article__prev-next .blog-img {
    max-width: 100%;
}
.shop-cart:hover .icon--header-shopping-cart path {
    stroke: #fff;
}

.product-item-meta__swatch-list {
    padding-bottom: 30px;
}


.button.button--primary.shop-cart {
    padding-inline-start: 0;
    padding-inline-end: 0;
    background: rgb(var(--button-text-color));
    color: rgb(var(--button-background));
}
.button.button--primary.shop-cart:hover {
    background: rgb(var(--button-background));
}

.button.button--primary.shop-cart:hover .spinner {
    color: rgb(var(--button-text-color));
}
.button.button--primary.shop-cart .spinner {
    color: rgb(var(--button-background));
}

.checkbox-container.alternative, 
.checkbox-container.others, 
.checkbox-container.others1,
.checkbox-container.others2,
.checkbox-container.others3, 
.checkbox-container.others4,
.checkbox-container.others5,
.checkbox-container.others6{
    display: none;
}

.brand-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.brand-image {
    background-color: #F2F4F7;
    padding: 51px 64px 50px 65px;
    border-radius: 20px;
}

.brands-section {
    padding-top: 52px;
    padding-bottom: 100px;
}

.brand-desc p:not(:last-child) {
    margin-bottom: 10px;
}

.brand-image {
    flex: 0 1 30%;
}

.brand-desc {
    flex: 1 1 70%;
}

.video-wrapper__poster-image {
    border-radius: 16px;
}

@media screen and (min-width: 1200px) {
    /* store-header .container {
        padding: 0;
    } */
    .header__secondary-links {
        max-width: max-content;
    }
}
@media screen and (max-width: 667px) {
    .grinder-opt {
        margin-top: 20px;
    }
}