.banner-logo {
    z-index: 0;
}

mobile-navigation#mobile-menu-drawer,
cart-drawer#mini-cart,
predictive-search-drawer#search-drawer {
    padding: 0 20px;
}

.banner--success {
    margin-top: 10px;
}

.footer-news .banner--success p {
    color: rgb(var(--success-color));
}

.footer__aside {
    margin-block-start: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.24);
}

.social-media__item {
    box-shadow: unset;
    border: 1px solid var(--8DB1B5, #8DB1B5);
}

.social-media {
    gap: 12px;
}

.grinder-opt {
    margin-top: 24px;
}

.grinder-img img,
.brewer-img img{
    max-width: unset;
}

.our-team > img {
    border-radius: 10px;
}

.article-item__excerpt {
    margin-block-start: 10px;
}

.article-item__category {
    background-color: var(--8DB1B5, #8DB1B5);
    color: #fff;
    border: 1px solid var(--8DB1B5, #8DB1B5);
    padding: 8px;
    border-radius: 46px;
    font-family: 'Univers';
    font-size: 11px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    margin-top: 10px;
}

@media screen and (min-width: 1200px) {
    store-header .container {
        padding: 0;
    }
    .header__secondary-links {
        max-width: max-content;
    }
}
@media screen and (max-width: 667px) {
    .grinder-opt {
        margin-top: 20px;
    }
}